<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Unit Converter</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
   <header><h1>Unit Converter</h1></header>
   <div class="container">
      <h1>Welcome to the Unit Converter</h1>
      <ul>
         <li><a href="/length">Length Converter</a></li>
         <li><a href="/weight">Weight Converter</a></li>
         <li><a href="/temperature">Temperature Converter</a></li>
      </ul>
   </div>
</body> 
<footer>&copy; 2025 Unit Converter</footer>
</html>
