<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
      <header><h1>Unit Converter</h1></header>
      <div class="container">
    <h2>Convert Temperature</h2>
    <form method="POST">
        <input type="number" step="any" name="value" required>
        <select name="from_unit">
            <option value="Celsius">Celsius</option>
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Kelvin">Kelvin</option>
        </select>
        to 
        <select name="to_unit">
            <option value="Celsius">Celsius</option>
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Kelvin">Kelvin</option>
        </select>
        <button type="submit">Convert</button>
    </form>
    {% if result is not none %}
        <p>Converted Value: {{ result }}</p>
    {% endif %}
    <a href="/">Back to Home</a>
    </div>
    </body>
    <footer>&copy; 2025 Unit Converter</footer>
</body>
</html>
